.sidebar .sidebar-list li a.active {
  background-color: #e2e8f0;
}
.sidebar .sidebar-list li a.active svg {
  color: black;
}

@media (prefers-color-scheme: dark) {
  .sidebar .sidebar-list li a.active {
    background-color: #374151;
  }
  .sidebar .sidebar-list li a.active svg {
    color: white;
  }
}

canvas {
  touch-action: none;
  cursor: grab;
}

canvas:active {
  cursor: grabbing;
}

canvas {
  touch-action: none;
  user-select: none;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-3px);
  }
  75% {
    transform: translateX(3px);
  }
}

.hover\:animate-shake:hover {
  animation: shake 0.3s ease-in-out;
}
